.navbar-nav {
    margin-left: 0px;
}


ul .dropdown-menu {
    justify-content: center;

}

.nav-item.dropdown {
    margin-right: 56px;
}

@media screen and (max-width: 991px) {
    .cabecalho {
        margin-top: 5px;
    }
}