@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.logo {
    width: 140px;
    margin: 15px;
}

/* Responsividade da logo, quando estiver com uma tela menor que 767px, diminuir a logo para 90px */
@media (max-width: 767px) {
    .logo {
        width: 90px;
    }
}



.quemsomos {
    background-image: url(/assets/background.png);
    background-repeat: no-repeat;
    background-size: 100% cover;
    background-position: 0 0;
    display: flex;
    flex-direction: column;
    height: 1087px;
    align-items: center;
}

.title {
    padding: 10px;
    margin-top: 30px;
    font-weight: 900;
    font-size: 4vw;
    letter-spacing: 1px;
    color: #fff;
}

.textoapresentacao {
    margin-top: -50px;
    padding: 30px;
    font-size: 1.45vw;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
}

@media (max-width: 1440px){
    .textoapresentacao{
        font-size: 20px;
    }
    
    .title{
        font-size: 60px;
    }
}

@media (max-width: 794px){
    .textoapresentacao{
        font-size: 15px;
    }
    
    .title{
        font-size: 50px;
    }
}

@media (max-width: 377px){
    .textoapresentacao{
        font-size: 12px;
    }
    
    .title{
        font-size: 40px;
    }
}

@media (max-width: 320px){
    .textoapresentacao{
        font-size: 12px;
    }
    
    .title{
        font-size: 35px;
    }
}

.maissobre {
    padding: 20px;
    margin-top: 450px;
    font-size: 35px;
    font-weight: 800;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 70px;
    column-gap: 60px;
    
}

@media (max-width: 570px){
    .container {
        margin-top: 200px;
    }
}

.bloco1,.bloco2,.bloco3 {
    font-weight: 700;
    letter-spacing: 2px;
    color: #fff;
    padding: 13px;
    background: #6D3DB2;
    border-radius: 25px;
    width: 300px;
    height: 380px;
    text-align: center;
}

ul {
    list-style:none;
    margin-left: -35px;
}

.missao,.visao,.valores {
    color: #000;
    margin-top: -50px;
    font-weight: 800;
    font-size: 25px;
}