@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.logo {
    width: 140px;
    margin: 15px;
}

/* Responsividade da logo, quando estiver com uma tela menor que 767px, diminuir a logo para 90px */
@media (max-width: 767px) {
    .logo {
        width: 90px;
    }
}

body {
    background-image: url(/assets/background.png);
    background-repeat: no-repeat;
    background-size: 100% contain;
    background-position: 0 100px;
}

.quemsomos {
    display: flex;
    flex-direction: column;
    height: 700px;
    align-items: center;
}

.title {
    padding: 10px;
    margin-top: 30px;
    font-weight: 900;
    font-size: 80px;
    letter-spacing: 1px;
    color: #fff;
}

.textoapresentacao {
    margin-top: -50px;
    padding: 30px;
    font-size: 35px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    column-gap: 60px;
    height: 900px;
}

.bloco1,
.bloco2,
.bloco3 {
    font-weight: 700;
    letter-spacing: 2px;
    color: #fff;
    padding: 13px;
    background: #6D3DB2;
    border-radius: 25px;
    width: 300px;
    height: 380px;
}


@media (max-width: 1440px) {
    .textoapresentacao {
        font-size: 25px;
    }

    .title {
        font-size: 7px;
    }
}

@media (max-width: 1024px) {
    .textoapresentacao {
        font-size: 20px;
    }

    .title {
        font-size: 60px;
    }
}

@media (max-width: 768px) {
    .textoapresentacao {
        font-size: 15px;
    }

    .title {
        font-size: 50px;
    }
}

@media (max-width: 375px) {
    .textoapresentacao {
        font-size: 13px;
    }

    .title {
        font-size: 40px;
    }
}

@media (max-width: 320px) {
    .textoapresentacao {
        font-size: 12px;
    }

    .title {
        font-size: 35px;
    }
}